---
layout:      custom
title:       "Free WordPress Pricing Table Figma Template"
display:     "WordPress Pricing Table"
permalink:   /figma-templates/wordpress-pricing-table/
date:        2024-10-28 12:00:00 -0700
description: 
tags: figma
thumbnail:   /assets/templates/wordpress-pricing-table-template.png
---
<div class="in-cont pd-50">

    
    <h1>WordPress Pricing Table Website Design</h1>

    <img src="/assets/templates/wordpress-pricing-table-template.png" alt="">

    <br>

    <a href="https://payhip.com/b/ecv2W" class="payhip-buy-button" data-theme="blue" data-product="ecv2W">Download</a>


    <h2>What is this?</h2>

    <p>
        This is a WordPress pricing table design that I made to advertise WordPress website services. My aim with this design was to help ordinary people who don't know a whole lot websites visualize these types of services as a more off the shelf product rather than some complicated topic.
    </p>

    <p>
        What I've noticed is that their's a ton of people out there who want to start a website but the moment they go look into one they're bombarded with a ton of offers filled with jargon keywords that just don't make a whole lot of sense to them. This usually causes them to just keep day dreaming about the idea and eventually they push it to the back of their mind.
    </p>

    <p>
        What I've noticed is that their's a ton of people out there who want to start a website but the moment they go look into one they're bombarded with a ton of offers filled with jargon keywords that just don't make a whole lot of sense to them. This usually causes them to just keep day dreaming about the idea and eventually they push it to the back of their mind.
    </p>

    <p>
        My goal was to simplify the whole idea for them and include some of the main features and benefits. 
    </p>

    <p>
        Each tier has different features and different price points.
    </p>

    
    <h3>Basic Package</h3>
    - Free Domain + Free Hosting
    - 1 - 5 Custom Pages
    - Fundamental Tutoring

    <h3>Pro Package</h3>
    - Free Domain + Free Hosting
    - 5 - 20 Custom Pages
    - WordPress and Google Search Console Tutoring
    - Monthly Maintenance for Up to a year

    Keywords: WordPress, Website Design, Pricing Table, $299, Affordable Websites, Free Domain, Free Server Space, C

    <a href="/figma-templates/" target="_blank">Free Figma Templates</a>

</div>