---
layout:       custom
title:       "Birthday Invitation - Free Figma Template"
display:     "Birthday Invitation"
permalink:   /figma-templates/birthday-invitation/
date:         2024-10-27 20:00:00 -0700
description: 
tags: figma
thumbnail: /assets/templates/figma-invitation-template.png
---
<div class="in-cont pd-50">

    <h1 class="_400">Birthday Invitation - Free Figma Template</h1>

    <img style="max-width:600px;" src="/assets/templates/figma-invitation-template.png" alt="">

    <br>

    <a href="https://payhip.com/b/KgCtq" class="payhip-buy-button" data-theme="blue" data-product="KgCtq" style="color:#002B6B;background:#d9d9d9;">Download</a>


    <p>This is a birthday invitation card design I made in Figma, feel free to duplicate it! I hope this helps you and that you learn something new.</p>

    <h2>Why I Made This Birthday Invitation Card Design</h2>

</div>