// Universal Margin Bottom
.umb-100 {margin-bottom:100px;}

// Universal Margin Bottom
.umb-30 {margin-bottom:30px;}

// Universal Margint Top
.umt-100 {margin-top:100px;}

// Universal Margint Top
.umt-30 {margin-top:30px;}

// br = Border 1px
.br {border: 1px solid black !important;} 

// Univeral Padding
.up-10 {padding: 10px;}

// Max Width
.mw-600 {max-width: 600px;}

// paa = padding all around (10px)
.paa-10 {padding: 10px;}

.pd-50 {padding-top: 50px !important;padding-bottom: 50px !important;}

// // Colors
// .green {background:rgb(174, 255, 174);}
// .orange {background-color: #df8322;}
// .gold {background-color: gold;}
// .white {background-color:white;}
// .black {background: rgb(75, 75, 75);}

// padding top and bottom 50px
.ptb-50 {padding-top:50px;padding-bottom:50px;}

.default {padding:0;margin:0;}

// Flexbox
.flex {display: flex;flex-wrap: wrap;}

